# dependencies
node_modules
.pnpm-debug.log*

# next.js
.next/
out/

# turbo
.turbo/

# production
build/
dist/

# testing
coverage/

# misc
.DS_Store
*.pem
*.log
*.tsbuildinfo

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
next-env.d.ts