@import "tailwindcss";


/* Hide scrollbar for Chrome, Safari and Edge */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge (legacy) */
* {
  -ms-overflow-style: none;
}